// index

extends ./layout.jade

block style
  link(href='/cover.css', rel='stylesheet')

block inner
  .inner.cover
    h1.cover-heading surveil.social
    p.lead
      | A pervasive game about surveilance
  .inner.unit
    include:markdown ../md/starting.md
  .inner.unit
    include:markdown ../md/playing.md
  .inner.unit
    include:markdown ../md/spotting.md
  .inner.unit
    include:markdown ../md/surveilling.md
  .inner.unit
    include:markdown ../md/avoiding.md
