// index

extends ./cover.jade

block style
  link(href='/cover.css', rel='stylesheet')

block nav
  li.active
    a(href='/') Surveil
  li
    a(href='/rules') Rules
  li
    a(href='/thoughts') Thoughts

block inner
  h1.cover-heading surveil.social
  p.lead
    | A pervasive game about surveilance
