// rules

extends ./layout.jade

block style
  link(href='/jumbotron-narrow.css', rel='stylesheet')

block nav
  li.active
    a(href='/rules') Rules
  li
    a(href='/thoughts') Thoughts

block inner
  h1.cover-heading Rules
  include:markdown ../md/rules.md
